.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(125, 223, 150);
    height: 100vh;
    padding-top: 2rem;
}

table{
    width: 90%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

td,th{
    padding: 2px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

tr{
    text-align: center;
}

h3{
    text-align: center;

    padding: 20px;
}