* 
{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containerOne li, a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(124,124,124);
    text-decoration: none;
}

.containerOne {
    margin: 10px 10px 10px;
}

.containerOne header {
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10% 20px;
}

.logo {
    cursor: pointer;
}

.topBar {
    list-style: none;
}

.topBar li {
    display: inline-block;
    padding: 0px 30px;
}

.topBar li a {
    transition: ease 0s;
}

.topBar li a:hover {
    color: black;
}
    
.topBar li a:active {
    color: rgb(154, 239, 154);
}

.containerTwo {
    margin: 10px 10px 10px;
    background-color: #00008b;
    color: white;
}

.containerTwo .content
{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerTwo .content {
    padding: 0% 10%;
    align-items: left;
    margin-right: 0;
}

.containerTwo .content b {
    max-width: 500px;
}


.containerThree {
    margin: 10px 10px 10px;
    background-color: #319c61;
    color: black;
}

.containerThree .content
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.containerThree .content {
    padding: 0% 10%;
    align-items: left;
}

.containerThree .content .imageOne img {
    max-width: 28%;
    max-height: 28%;
    float: left;
    border-radius: 50px;
    padding: 2% 2% 2%;
}

.containerThree .content .imageOne p {
    padding: 3% 2% 2%;
    text-align: justify;
    font-size: 89%;
    margin: auto;
}

.containerThree .contentTwo
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.containerThree .contentTwo {
    padding: 0% 10%;
}

.containerThree .contentTwo .imageTwo img {
    max-width: 28%;
    max-height: 28%;
    float: right;
    border-radius: 40px;
    padding: 1% 2% 2%;
}

.containerThree .contentTwo .imageTwo p {
    max-width: 72%;
    max-height: 75%;
    float: left;
    padding: 2% 2% 2%;
    text-align: justify;
    font-size: 87%;
    margin: auto;
}

.containerFour li, a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(124,124,124);
    text-decoration: none;
}

.containerFour {
    margin: 18px 10px 10px;
}

.containerFour header {
    background-color: white;
    border-top: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.aboutUsContainerOne {
    margin: 10px 10px 10px;
    background-color: #90ee90;
    color: white;
}

.aboutUsContainerOne .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUsContainerOne .content #textOne {
    padding: 10px 10%;
    float: left;
}

.aboutUsContainerOne .content #textTwo {
    padding: 10px;
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 5%;
    float: right;
    display: inline;
    font-size: 20px;
}

.contactContainerOne{
    margin: 10px 10px 10px;
    background-color: #90ee90;
    color: white;
}

.contactContainerOne .content{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUsContainerOne .content #textOne{
    padding: 10px 10%;
    float: left;
}

.aboutUsContainerOne .content #textTwo{
    padding: 10px;
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 5%;
    float: right;
    display: inline;
    font-size: 20px;
}

.contactOne {
    margin: 10px 10px 10px;
    background-color: #9ce89c;
    color: white;
}

.contactOne .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactOne .content #textOne {
    padding: 10px 10%;
    float: left;
    font-size: 40px;
}

.contactOne .content #textTwo {
    padding: 10px;
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 5%;
    float: right;
    display: inline;
    font-size: 25px;
}

.contactTwo{
    background-color: rgb(211, 211, 211);
    box-sizing: border-box;
    margin: 10px 10px 10px;
}

.contactTwo .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactTwo .content .text{
    color: black;
    max-width: 50%;
    padding-right: 2%;
    float: left;
    display: inline;
    font-size: 100%;
    text-align: justify;
}

.contactTwo .textTwo{
    text-align: right;
    padding-right: 11%;
    font-size: 120%;
}

.contactTwo .content #map{
    padding-top: 1%;
    float: right;
    display: inline;
}

.backgroundWrap{
    background-color: rgba(211, 211, 211, 0.576);
    box-sizing: border-box;
    margin: 10px 10px 10px;
    padding: 20px;
}

.backgroundWrap header {
    border-bottom: 3px solid black;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    align-items: center;
    width: 280px;
}

.backgroundWrap .wrap{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

.backgroundWrap .wrap .card{
    width: 400px;
    background-color: #fff;
    text-align: center;
    font-size: 19px;
    float: left;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.backgroundWrap .wrap .card img{
    width: 95%; 
    padding-top: 20px;
    padding-bottom: 5px;
}

.backgroundWrap .wrap .card p{
    text-align: justify;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.backgroundWrap .text{
    text-align: center; 
    color: white; 
    padding-top: 1%;
    font-size: 300%;
    font-weight: bold;
}

hr.style { 
    border: 0;
    height: 0;
    opacity: 60%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }